* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #b65959 12%, #f6bc00 40%);
    padding: 0;
}

header img {
    width: 14%;
    height: auto;
}

.menu {
    order: 1;
    font-size: 20px;
}

.submenu {
    order: 2;
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}

.submenu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 120px;
    position: relative;
    bottom: 95px;
    left: calc(100vh - 120px);
    transition: .5s;
}

.submenu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-left: 50px;
    transition: .5s;
}

.menu a:hover,
.submenu a:hover{
    color: #cc0000;
}

.busq {
    display: flex;
    align-items: center;
    position: absolute;
    top: 65px;
    margin-left: 250px;
}

.busq input[type="text"] {
    width: 500px;
    height: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.busq button {
    height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 100%;
    bottom: 0px;
}

.busq button:hover {
    background-color: #cc0000;
}

.cuot{
    margin-top: 2px;
    width: 100%;
    height: auto;
}

.envio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 30px;
}

.envio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    flex-basis: calc(25% - 20px);
}

.envio-item i {
    font-size: 24px;
}

.envio-item h3,
.envio-item p {
    margin: 5px 0;
}

.envio-item h3 {
    font-weight: bold;
}

.prod{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo {
    border-bottom: 1px solid #000000;
    text-align: center;
    width: 100%;
    font-family: inherit;
    font-size: 30px;
}

.venta {
    width: 400px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s;
}

.venta img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.venta h3 {
    font-size: 18px;
}

.venta p {
    font-size: 16px;
    color: #ff0000;
}

.venta i{
    font-size: 30px;
}

.venta:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.contact h2,.cont,
.elegir h2,.info,.busq,
.column,button,
img,.prod,.envio{
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    padding: 20px;
    color: #000000;
    text-align: center;
}

footer a {
    font-size: 40px;
    margin: 20px;
}

footer .face{
    color: blue;
}

footer .what{
    color: green;
}